In [1]:
import os

In [2]:
os.chdir("../")

In [7]:
import pandas as pd

In [24]:
from hotel_pickup_forecasting.utils.common import  read_yaml
from hotel_pickup_forecasting.constants import *

config = read_yaml(CONFIG_FILE_PATH)
schema = read_yaml(SCHEMA_FILE_PATH)

all_schema = schema.COLUMNS.keys()
print(all_schema)
# df_X = df[all_schema]
# df_X

[2024-06-13 02:28:42,727: INFO: common: yaml file: config\config.yaml loaded successfully]
[2024-06-13 02:28:42,731: INFO: common: yaml file: schema.yaml loaded successfully]
dict_keys(['3D_MA_comp_med_rate', '3D_MA_log_vi_comp_median', '3D_MA_rate', '7D_MA_comp_med_rate', '7D_MA_log_vi_comp_median', '7D_MA_rate', 'Dynamic Rooms (Calculated)', 'cancel_date', 'competitor_max_rate', 'competitor_median_rate', 'competitor_median_rate_-1', 'competitor_median_rate_-2', 'competitor_median_rate_-3', 'competitor_median_rate_-4', 'competitor_median_rate_-5', 'competitor_median_rate_-6', 'competitor_median_rate_-7', 'competitor_min_rate', 'cumulative_cancellations', 'cumulative_reservations', 'cumulative_reservations_-1', 'cumulative_reservations_-28', 'cumulative_reservations_-3', 'cumulative_reservations_-7', 'daily_cancellations', 'daily_reservation', 'dynamic_room_revenue', 'dynamic_rooms', 'dynamic_rooms_diff', 'final_week', 'lead_in', 'log_competitor_rate', 'log_pickup_-3', 'log_pickup_-7', 'log_rate', 'log_vi_comp_median', 'log_vi_comp_median_-1', 'log_vi_comp_median_-2', 'log_vi_comp_median_-3', 'log_vi_comp_median_-4', 'log_vi_comp_median_-5', 'log_vi_comp_median_-6', 'log_vi_comp_median_-7', 'occupancy change', 'occupancy change_-3', 'pickup_-3', 'pickup_-7', 'rate', 'rate_-1', 'rate_-2', 'rate_-3', 'rate_-4', 'rate_-5', 'rate_-6', 'rate_-7', 'report_date_day_of_month', 'report_date_day_of_week', 'report_date_month', 'report_date_year', 'stay_date', 'stay_date_day_of_month', 'stay_date_day_of_week', 'stay_date_month', 'stay_date_week_of_year', 'stay_date_year', 'total_room_revenue', 'total_rooms', 'total_rooms_-3', 'vi_comp_median', 'vi_comp_min', 'pickup_3'])

In [36]:

target = schema.TARGET_COLUMN.name
df = pd.read_csv("artifacts\data_ingestion\dynamic_reservations_feat.csv", index_col= ['report_date'])
df.index = pd.to_datetime(df.index)
df['stay_date'] = pd.to_datetime(df['stay_date'])
df['cancel_date'] = pd.to_datetime(df['cancel_date'])
df = df[all_schema] 
df = df[df[target].isna()==False]

,3D_MA_comp_med_rate,3D_MA_log_vi_comp_median,3D_MA_rate,7D_MA_comp_med_rate,7D_MA_log_vi_comp_median,7D_MA_rate,Dynamic Rooms (Calculated),cancel_date,competitor_max_rate,competitor_median_rate,...,stay_date_day_of_week,stay_date_month,stay_date_week_of_year,stay_date_year,total_room_revenue,total_rooms,total_rooms_-3,vi_comp_median,vi_comp_min,pickup_3
report_date,,,,,,,,,,,,,,,,,,,,,
2022-01-02,127.000000,0.015625,129.000000,127.000000,0.015625,129.000000,13.0,2022-01-02,299.0,127.0,...,3,1,1,2022,1641.98,15.0,NaN,1.015748,1.675325,8.0
2022-01-03,127.500000,0.011704,129.000000,127.500000,0.011704,129.000000,17.0,NaT,299.0,128.0,...,3,1,1,2022,1675.32,16.0,NaN,1.007812,1.675325,4.0
2022-01-04,128.833333,-0.025492,125.666667,128.833333,-0.025492,125.666667,16.0,2022-01-04,299.0,131.5,...,3,1,1,2022,1713.56,13.0,NaN,0.904943,1.586667,3.0
2022-01-05,131.500000,-0.045855,125.666667,130.375000,-0.030485,126.500000,16.0,2022-01-05,299.0,135.0,...,3,1,1,2022,1258.54,14.0,15.0,0.955556,1.954545,0.0
2022-01-02,126.000000,-0.057158,119.000000,126.000000,-0.057158,119.000000,16.0,2022-01-02,299.0,126.0,...,4,1,1,2022,2141.75,19.0,NaN,0.944444,1.416667,6.0

In [37]:
df.columns

Index(['3D_MA_comp_med_rate', '3D_MA_log_vi_comp_median', '3D_MA_rate',
       '7D_MA_comp_med_rate', '7D_MA_log_vi_comp_median', '7D_MA_rate',
       'Dynamic Rooms (Calculated)', 'cancel_date', 'competitor_max_rate',
       'competitor_median_rate', 'competitor_median_rate_-1',
       'competitor_median_rate_-2', 'competitor_median_rate_-3',
       'competitor_median_rate_-4', 'competitor_median_rate_-5',
       'competitor_median_rate_-6', 'competitor_median_rate_-7',
       'competitor_min_rate', 'cumulative_cancellations',
       'cumulative_reservations', 'cumulative_reservations_-1',
       'cumulative_reservations_-28', 'cumulative_reservations_-3',
       'cumulative_reservations_-7', 'daily_cancellations',
       'daily_reservation', 'dynamic_room_revenue', 'dynamic_rooms',
       'dynamic_rooms_diff', 'final_week', 'lead_in', 'log_competitor_rate',
       'log_pickup_-3', 'log_pickup_-7', 'log_rate', 'log_vi_comp_median',
       'log_vi_comp_median_-1', 'log_vi_comp_median_-2',
       'log_vi_comp_median_-3', 'log_vi_comp_median_-4',
       'log_vi_comp_median_-5', 'log_vi_comp_median_-6',
       'log_vi_comp_median_-7', 'occupancy change', 'occupancy change_-3',
       'pickup_-3', 'pickup_-7', 'rate', 'rate_-1', 'rate_-2', 'rate_-3',
       'rate_-4', 'rate_-5', 'rate_-6', 'rate_-7', 'report_date_day_of_month',
       'report_date_day_of_week', 'report_date_month', 'report_date_year',
       'stay_date', 'stay_date_day_of_month', 'stay_date_day_of_week',
       'stay_date_month', 'stay_date_week_of_year', 'stay_date_year',
       'total_room_revenue', 'total_rooms', 'total_rooms_-3', 'vi_comp_median',
       'vi_comp_min', 'pickup_3'],
      dtype='object')

In [38]:
len(df[df[target].isna() == True])

0

In [99]:
from dataclasses import dataclass
from pathlib import Path

@dataclass(frozen=True)
class DataTransformationConfig:
    root_dir: Path
    data_path: Path
    all_schema: list
    target: str
    cutoff_date: str

In [100]:
from hotel_pickup_forecasting.constants import *
from hotel_pickup_forecasting.utils.common import read_yaml, create_directories

In [101]:
class ConfigurationManager:
    def __init__(
        self,
        config_filepath = CONFIG_FILE_PATH,
        params_filepath = PARAMS_FILE_PATH,
        schema_filepath = SCHEMA_FILE_PATH):

        self.config = read_yaml(config_filepath)
        self.params = read_yaml(params_filepath)
        self.schema = read_yaml(schema_filepath)

        create_directories([self.config.artifacts_root])
    
    
    def get_data_transformation_config(self) -> DataTransformationConfig:
        config = self.config.data_transformation
        schema = self.schema

        create_directories([config.root_dir])

        data_transformation_config = DataTransformationConfig(
            root_dir=config.root_dir,
            data_path=config.data_path,
            all_schema = schema.COLUMNS.keys(), 
            target = config.target ,
            cutoff_date = config.cutoff_date
        )
        return data_transformation_config

In [102]:
import os
from hotel_pickup_forecasting import logger
import pandas as pd

In [103]:
import numpy as np 
np.dtype( df['stay_date'])

dtype('<M8[ns]')

In [104]:
from ensure import ensure_annotations
@ensure_annotations
def date_to_numeric(s: pd.Series) -> pd.Series:
    return pd.to_numeric(s, downcast='float')

@ensure_annotations
def number_to_date(s: pd.Series) -> pd.Series:
    return pd.to_datetime(s)

In [105]:
df['stay_date']

report_date
2022-01-02   2022-01-05
2022-01-03   2022-01-05
2022-01-04   2022-01-05
2022-01-05   2022-01-05
2022-01-02   2022-01-06
                ...
2024-03-27   2024-03-31
2024-03-28   2024-03-31
2024-03-29   2024-03-31
2024-03-30   2024-03-31
2024-03-31   2024-03-31
Name: stay_date, Length: 168966, dtype: datetime64[ns]

In [106]:
number_to_date(date_to_numeric(df['cancel_date']))

report_date
2022-01-02   2022-01-02
2022-01-03          NaT
2022-01-04   2022-01-04
2022-01-05   2022-01-05
2022-01-02   2022-01-02
                ...
2024-03-27          NaT
2024-03-28          NaT
2024-03-29          NaT
2024-03-30          NaT
2024-03-31          NaT
Name: cancel_date, Length: 168966, dtype: datetime64[ns]

In [112]:
from hotel_pickup_forecasting.utils.common import *

class DataTransformation: 
    def __init__(self, config: DataTransformationConfig):
        self.config = config

    def initiate_transformation(self):

        config = self.config
        
        # Cleaning the dataset i.e. necessary columns featuring relevant columns 
        df = pd.read_csv(self.config.data_path, index_col= 'report_date')
        df.index = pd.to_datetime(df.index)

        logger.info("Converting Stay_date and cancel_date to numerical values")

        df['stay_date'] = date_to_numeric(pd.to_datetime(df['stay_date']))
        df['cancel_date'] = date_to_numeric(pd.to_datetime(df['cancel_date']))

        df = df[config.all_schema] 
        logger.info("Added data with only relevant features")
        df = df[df[config.target].isna()==False]
        logger.info("checked for any null values in target variable and neglected them.")
        cutt_off_date = config.cutoff_date

        train = df.loc[df.index < cutt_off_date]
        test = df.loc[df.index >= cutt_off_date]

        train.to_csv(os.path.join(config.root_dir, "train.csv"), index= False)
        test.to_csv(os.path.join(config.root_dir, "test.csv"), index= False)

        logger.info(f"Sucessful train and test split on cut off date as {cutt_off_date}")
        logger.info(f"shape of training set is {train.shape}")
        logger.info(f"shape of testing set is {test.shape}")

In [113]:
try: 
    config = ConfigurationManager()
    data_transformation_config = config.get_data_transformation_config()
    data_transformation = DataTransformation(config=data_transformation_config)
    data_transformation.initiate_transformation()

except Exception as e:
    logger.error(e)
    raise e

[2024-06-13 03:33:24,429: INFO: common: yaml file: config\config.yaml loaded successfully]
[2024-06-13 03:33:24,431: INFO: common: yaml file: params.yaml loaded successfully]
[2024-06-13 03:33:24,434: INFO: common: yaml file: schema.yaml loaded successfully]
[2024-06-13 03:33:24,436: INFO: common: created directory at: artifacts]
[2024-06-13 03:33:24,436: INFO: common: created directory at: artifacts/data_transformation]
[2024-06-13 03:33:25,538: INFO: 712377735: Converting Stay_date and cancel_date to numerical values]
[2024-06-13 03:33:25,616: INFO: 712377735: Added data with only relevant features]
[2024-06-13 03:33:25,660: INFO: 712377735: checked for any null values in target variable and neglected them.]
[2024-06-13 03:33:30,152: INFO: 712377735: Sucessful train and test split on cut off date as 01-01-2024]
[2024-06-13 03:33:30,152: INFO: 712377735: shape of training set is (164780, 71)]
[2024-06-13 03:33:30,152: INFO: 712377735: shape of testing set is (4186, 71)]